html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
n

body
		{
			font-family: Ubuntu, sans-serif;
			font-weight: 400;
			color: #4b4539;
			background-color: #e9e5d9;
			/*padding: 7.5em 0 5em; /* 120 80 */
		}

			.container
			{
				width: 100%;
				/*max-width: 40em;*/ /* 640 */
				/*padding: 0 1.25em; /* 20 */
				margin: 0 auto;
			}

			.header
			{
				width: 100%;
				height: 5em; /* 80 */
				text-align: center;
				background-color: #fff;
				position: fixed;
				z-index: 1;
				top: 0;
				left: 0;

				-webkit-box-shadow: 0 0.063em 0.25em rgba( 37, 50, 55, .25 ); /* 1 4 */
				box-shadow: 0 0.063em 0.25em rgba( 37, 50, 55, .25 ); /* 1 4 */

				
			}

			
				.header .container
				{
					height: 100%;
					overflow: hidden;
				}
				
/*
                .header img
				{
					width: 3.75em; /* 60 *//*
					height: 100%;
					float: left;
				}
*/
				.header nav
				{
					height: 100%;
					display: table;
					
                    margin: 0 auto;
				}
				.header ul
					{
						height: 100%;
						vertical-align: middle;
						display: table-cell;
					}
						.header li
						{
							float: left;
							display: inline-block;
						}
							.header a
							{
								height: 2.5em; /* 40 */
								text-transform: uppercase;
								line-height: 2.5em; /* 40 */
								color: #fff;
								display: block;
								background-color: #867d6d;
								padding: 0 0.625em; /* 10 */
							}
							.header a:hover,
							.header a:focus
							{
								background-color: #4b4539;
							}
							.header a:active,
							.header .is-selected a
							{
								background-color: #d3004f;
							}
							.header li:not( :last-child ) a
							{
								border-right: 1px solid #b1a898;
							}
								.header span
								{
									display: none;
								}

			.content
			{
			}
				.content > *:not( :last-child )
				{
					margin-bottom: 1.875rem; /* 30 */
				}
				.content h1
				{
					font-size: 3.125em; /* 50 */
					font-weight: 300;
					text-align: center;
				}
					.content h1 a:hover,
					.content h1 a:focus
					{
						color: #867d6d;
					}
					.content h1 a:active
					{
						color: #d3004f;
					}
				.content p
				{
					line-height: 1.625em; /* 26 */
				}
				.content p:first-of-type
				{
					font-size: 1.25em; /* 20 */
				}
				.content hr
				{
					width: 50%;
					height: 0.313em; /* 5 */
					border: none;
					background-color: currentColor;
					opacity: .1;
					display: block;
					margin: 0 auto;
				}
				.content b
				{
					font-weight: 700;
				}
				.content i
				{
					font-style: italic;
				}

		@media screen and ( max-width: 30em ) /* 480 */
		{
			.header span
			{
				display: inline;
			}
			.header b
			{
				display: none;
			}
		}
.img-wrap{
    
    width: 100%;
    height: 32.5em;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding-top: 80px;
}




.nav-list{
    padding-left: 0;
}
.nav-list li{
    cursor: pointer; 
    cursor: hand;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



/* KALENDER */

#calendar-container{
    position: relative;
    overflow: hidden;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 80px 26px 26px 26px;
    background-color: #ffa75e;
}

.date-div{
    overflow: hidden;
    position: relative;
    padding: 20px;
    margin: 2em 0;
    height: 350px;
    width: 200px;
    background-color: #ff6a45;
    margin-right: 30px;
    float: left;
}

.date-div:before{
    content:"";
    position: absolute;
    top:0;
    right: 0;
    border-width: 0 26px 26px 0px;
    border-style: solid;
    border-color: #e7e19e #ffa75e;
}

.date-div:after{
    content:"";
    
}
