body {
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.6em;
    font-size: 12px;
    color: #000;
    margin: 0;
}

#title-picture{
    width: 250px;
}
/*
a{
    text-decoration: none;
    color: inherit;
}
*/

li{
    float: left;
    display: inline-block;
    
}

header{
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(35, 35, 35);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

header #title-picture{
    display: inline-block;
    height: 150px;
    line-height: 150px;
    float: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3;
    -ms-transition: all 0.3;
    -o-transition: all 0.3;
    transition: all 0.3;
}

header nav{
    display: inline-block;
    float: right;
}

header nav a{
    line-height: 150px;
    margin-left: 20px;
    color: #9fdbfc;
    font-weight: 700;
    font-size: 1.6em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3;
    -ms-transition: all 0.3;
    -o-transition: all 0.3;
    transition: all 0.3;
}

header.smaller{
    height: 75px;
}

header.smaller #title-picture{
    width: 150px;
    height: 75px;
}

header.smaller nav a{
    line-height: 75px;
}

@media all and (max-width: 660px){
    header #title-picture{
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
    }
    header nav{
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
    
    header nav a{
        line-height: 50px;
        margin: 0 10px;
    }
    
    header.smaller{
        height: 75px;
    }
    header.smaller #title-picture{
        height: 40px;
    }
    header.smaller nav{
        height: 35px;
    }
    header.smaller nav a{
        line-height: 35px;
    }
    
}

#LONG-BOX{
    width: 500px;
    height: 3000px;
    background-color: blue;
}